body{
    background: #efedf0;
}
#bodyer{
    width: 1500px;
    height: auto;
    margin: 0 auto;
    background-color:#ffffff; 
    padding: 20px 30px;
 }
input,select{
    border: 1px solid #d6d6d6;
    border-radius: 5px;height: 30px;
    padding-left: 5px;
    margin:0 5px;
}
.xinjian,.shanchu{
    width: 90px;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    padding-left:0;
}
.xinjian{
    background: #FF9300;
}
.shanchu{
    background: #EB0612;
}
.s1{
    height: 90px;
    /* line-height: 90px; */
}
.s2{
    height: 90px;
}
.s2 p{
    text-indent: 2em;
    line-height: 1.5em;
    letter-spacing: 1px;
}
.submit{
    width: 90px;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
    background: #FF9300;
    color: #FFF;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    padding-left:0;
}